body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

h1, h2 {
    text-align: center;
    color: #161616;
}

section {
    margin-bottom: 40px;
    padding: 0 20px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
    padding: 0 20px;
}

.button-grid a {
    display: block;
    background-color: #ffbd39;
    color: black;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button-grid a:hover {
    background-color: #ffffff;
}
.main-nav {
    background-color: #ffbd39;
    padding: 10px 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.main-nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.main-nav a:hover {
    background-color: #ffbd39;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/Logo_Bild_schwarz.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    opacity: 0.07; /* Transparenz */
    z-index: -1;
    pointer-events: none;
}
.login-container {
    max-width: 400px;
    margin: 100px auto; /* Oben 100px Abstand, horizontal zentriert */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center; /* Inhalte zentrieren */
}

.login-container input,
.login-container button {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}
.nur-intern {
    display: none;
}
/* ===== Topbar mit Logo rechts ===== */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFBD39;
  padding: 10px 20px;
}

.nav-left a {
  margin-right: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav-left a:hover {
  text-decoration: underline;
}

.topbar-logo {
  height: 40px;
}
